attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
clear-screen==0.1.14
colorama==0.4.4
coverage==5.3
docutils==0.16
idna==2.10
importlib-metadata==3.1.1
iniconfig==1.1.1
packaging==20.7
pluggy==0.13.1
py==1.9.0
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
requests==2.25.0
toml==0.10.2
urllib3==1.26.2
zipp==3.4.0
